PORT=3001

DB_HOST=192.168.100.181
DB_PORT=1433
DB_USERNAME=SA
DB_PASSWORD=<PASTE_YOUR_PASSWORD_HERE>
DB_NAME=master

DB_ENCRYPT=true
DB_TRUST_SERVER_CERT=true

ENTRA_TENANT_ID=
ENTRA_CLIENT_ID=
ENTRA_CLIENT_SECRET=
ENTRA_ADMIN_ROLE=Admin
ENTRA_API_AUDIENCE=
ENTRA_SYNC_TEMP_PASSWORD=

ONEDRIVE_USER=
DOCUMENT_TOGGLE_USER=
